.OrderItems-table {
    border-spacing: 0;
    border-collapse: collapse;
    border: 1px solid gray;
}

.OrderItems-table th, .OrderItems-table td {
    border: 1px solid gray;
    text-align: center;
    padding: 2px 5px;
}

.OrderItems-table th {
    background-color: black;
    color: white;
}

.OrderItems-table td {
    background-color: #e8f1ff;
}